* {
  margin: 0;
  padding: 0;
}

.homebody {
  
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  background-image: url(/Images/bg_light_gray.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
}
.link {
  text-decoration: none;
  color: black;
}
.main{
  position: relative;
 
 
 
}
.main1 {
  
  margin-top: 20px;
  aspect-ratio: 4/1.2;
  display: flex;
  justify-content: end;
  align-items: center;

  /* margin: 50px; */
  border-radius: 25px;
  background-image: url(/Images/pumkin-salad-landscape-1.jpeg);
  background-repeat: no-repeat;
  
width: 90%;
margin-left: 5%;
  background-size:100% 100%;

}
@media (max-width:650px){
  .main1{
    height: 5cm;
   
  }
}

.linebtn {
 
  margin-right: 1cm;
 position: absolute;
 z-index: 1;
bottom: 2cm;
 right: 2cm;
 top: 25%;

 
}


.vmbtn {
  border-radius: 30px;
  width: 100px;
  height: 35px;
  background-color: rgb(255, 171, 35);
  border: none;
  box-shadow: 3px 3px 4px grey;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 14px;
  color: black;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.tabbtn {
  border-radius: 30px;
  width: 100px;
  height: 35px;
  background-color: #fff;
  border: none;
  box-shadow: 3px 3px 4px grey;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 14px;
  color: #000;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

#stodiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
 gap: 0.5cm;
 margin-top: 50px;
  width: 100%;
  height: 60vh;
 
}

.sto {
  /* margin: 150px 50px 0 200px; */
  
  width: max(8cm,30%);
  display: flex;
height: 100%;
  flex-direction: column;
  align-items: start;

  justify-content: center;

}
@media (max-width:604px){
  
  #stodiv{
    height: auto;
  }
 .linebtn h1{
  margin-left: 0.5cm;
 }
  
}
.fimg {
  width: max(8cm,30%);
  height: 100%;
  /* overflow: hidden;
  transition: all ease 1s; */
}

.fimg img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.fimg:hover {
  scale: 1.1;
}

.special {
  background-image: url("/Images/restaurant\ bg\ image\ cropped.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 600px;
  
}
.specialCard{
  
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 2cm;
  padding-top: 1cm;
  background-image: url("/Images/restaurant\ bg\ image\ cropped.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cards{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-evenly;
  gap: 0.5cm;
  flex-wrap: wrap;
  
}
.card{
  text-align: center;
  width: max(7cm,20%);
  height: 8.5cm;
align-items: end;
border-radius: 20px;
  background-color: orange;
padding-bottom: 1cm;
margin-bottom: 3cm;

}
.headSpl{
  margin-bottom: 5cm;
  text-align: center;
  padding-top: 40px;
  font-style: italic;
  color: orange;
  
}
.card img{
  width: 80%;
 
  border-radius: 50%;
}
.cardDiv{
  margin-top: -40%;
  
  height: 12cm;
}


.desc1 {
  font-size: 17px;
  height: 1.5cm;
  text-align: center;
}

.rate1 {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.spebtn1 {
  border-radius: 30px;
  width: 100px;
  height: 35px;
  /* background-color: lightskyblue; */
  background: linear-gradient(#4f77f1, #fe9393);
  border: none;
  box-shadow: 3px 3px 4px grey;
  margin-right: 5px;
 
  margin-top: 14px;
  color: black;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}
.spebtn1:active{
background: none;
background-color: white;

}



.about-section {
  padding: 20px;
  
  height: auto;
}

.title1 {
  text-align: center;
  margin: 40px 0;
  height: 50px;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
}

.about-chef {
  display: flex;
  justify-content: center;
  
 width: 100%;

 flex-wrap: wrap;
 align-items: center;
 gap: 1cm;
}

.chef-desc {
  width: max(8cm,35%);
  font-size: 18px;
 
  line-height: 20px;
  text-align: start;
  letter-spacing: normal;
  color: #787371;
  
}
.chef{
width: max(8cm,35%);


}
.learnbtn {
  border-radius: 30px;
  width: 100px;
  height: 35px;
  background-color: orange;
  border: none;
  box-shadow: 3px 3px 4px grey;
  margin-top: 30px;
  color: black;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.chef img {
 width: 100%;
height: 80vh;
  border-radius: 20px;
}

.contact h2 {
  text-align: center;
  margin-top: 40px;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
hr {
  margin: 10px 550px;
  background-color: black;
  border: none;
  height: 1px;
  border-radius: 25px;
}

.contdesc {
  text-align: center;
}

.contcard {
  display: flex;
  justify-content: space-evenly;
  margin: 1cm 0;
  
  padding: 30px;
  /* background-color: orange; */
  
  
  background-color: orange;
  width: 80%;
  
  gap: 0.5cm;
  flex-wrap: wrap;
  box-shadow: 3px 3px 15px gray;
  
}

.address {
  
  
  width: max(8cm,35%);
}

.cityh1 {
  margin-bottom: 20px;
}

.smalladd {
  margin-bottom: 20px;
}

.address iframe {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.time {
 width: max(8cm,35%);
 padding-bottom: 30px;
 
}

.time h1 {
  margin-bottom: 40px;
}

.time1 {
  margin-bottom: 40px;
}
.emptyCartMessage{
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}
@media (max-width:930px){
  .linebtn{
    color: white;
    top: 5%;
    font-size: 16px;
  }
  .main1{
    /* justify-content: center; */
    filter: blur(2px);
  }
  .chef img{
    height: 60vh;
  }
}